@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
* {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
}

:root {
  --white: #fff;
  --primary: #5463ff;
  --hover: #144381;
}

html,
body,
#root {
  margin: 0;
  height: auto;
}

button {
  cursor: pointer;
}

input {
  border-radius: 4px;
  outline: none;
  border: none;
  padding: 16px;
  background-color: #f6f6f6;
  margin-bottom: 8px;
  border: 1px solid #f6f6f6;
}

input:hover {
  background-color: #efefef;
}

input:active,
input:focus {
  background-color: #efefef;
  border: 1px solid var(--primary);
}

button {
  background-color: var(--primary);
  border: none;
  padding: 16px;
  border-radius: 3px;
  color: var(--white);
  margin: 40px;
  width: 200px;
  align-self: center;
  transition: 0.3s;
}

button:hover {
  background-color: var(--hover);
}

a {
  text-decoration: none;
  color: #666;
}

h1 {
  margin-bottom: 24px;
}
